app-details
  .flex-container
    .flext-item
      h4 #{character.name}
      img(src=character.image)
    .flex-item
      h4 Character Data
      .collection
        .collection-item
          b Status: 
          span #{character.status}
        .collection-item
          b Specie: 
          span #{character.species}
        .collection-item
          b Gender: 
          span #{character.gender}
        .collection-item
          b Origin: 
          span #{character.origin.name}
        .collection-item
          b Description: 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus nostrum tenetur voluptatum. Beatae magni perspiciatis culpa accusamus placeat voluptatem veniam voluptatibus dolorem! Enim, nulla! Officiis cumque saepe velit officia voluptates!